.album .section-title::before {
  content: "";
  position: absolute;
  justify-content: center;
  background-color: var(--primary-text-color);
  left: -1rem;
  height: 6rem;
  width: 2px;
}

.album .album-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

  width: 100%;
  height: auto;
  margin-bottom: 10vh;
}

.album-images-container .album-image {
  height: 20rem;
  width: 20rem;
  margin: 1%;
}

.album-image img {
  height: 20rem;
  width: 20rem;
  object-fit: contain;
  outline: solid var(--hover-color) 2px;
}

@media only screen and (max-width: 815px) {
  .album .section-title::before {
    height: 4rem;
  }

  .album-images-container .album-image {
    height: 80vw;
    width: 80vw;
    margin: 1%;
  }

  .album-image img {
    height: 80vw;
    width: 80vw;
    object-fit: contain;
  }
}

@media only screen and (min-width: 1920px) {
  .album-images-container .album-image {
    margin: 1%;
  }
}
