#EXCOriginalsNavbarPointer {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: var(--primary-text-color);
  top: calc(50% - 1.5rem);
  right: 3vw;
  opacity: 1;
  z-index: 101;

  transition: opacity 0.5s;
}
