.section-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 45%;
}

.section-box p {
  cursor: default;
  position: relative;
  font-family: 'Comfortaa', cursive;
  font-size: 1.5rem;
  color: var(--accent-color);
  line-height: 1.6;
  max-width: 40rem;

  opacity: 0;
  transform: translateY(50vh);
  transition: opacity 0.5s, transform 0.75s;
}

.section-box img {
  position: relative;
  width: 80%;
  height: auto;

  opacity: 0;
  transform: translateY(50vh);
  transition: opacity 0.75s, transform 1s;
}

.short-films-sketches, .marketing {
  text-align: right;
}

.bts .section-title::before {
  content: "";
  position: absolute;
  justify-content: center;
  background-color: var(--primary-text-color);
  left: -1rem;
  height: 6rem;
  width: 2px;
}

.music-videos .section-title::before {
  content: "";
  position: absolute;
  justify-content: center;
  background-color: var(--primary-text-color);
  left: -1rem;
  height: 6rem;
  width: 2px;
}

.short-films-sketches .section-title::before {
  content: "";
  position: absolute;
  justify-content: center;
  background-color: var(--primary-text-color);
  right: -1rem;
  height: 6rem;
  width: 2px;
}

.marketing .section-title::before {
  content: "";
  position: absolute;
  justify-content: center;
  background-color: var(--primary-text-color);
  right: -1rem;
  height: 6rem;
  width: 2px;
}


@media only screen and (max-width: 815px) {
  .section-box {
    width: 100%;
  }

  .section-box p {
    font-size: 1rem;
    width: 100%;
    margin: 5vh 0;
  }

  .section-box img {
    width: 100%;
  }

  .short-films-sketches, .marketing {
    text-align: left;
  }

  .bts .section-title::before {
    height: 4rem;
  }

  .short-films-sketches .section-title::before {
    left: -1rem;
    height: 4rem;
  }

  .music-videos .section-title::before {
    height: 4rem;
  }

  .marketing .section-title::before {
    left: -1rem;
    height: 4rem;
  }
}
