.videos-page .section-title::before {
    content: "";
    position: absolute;
    justify-content: center;
    background-color: var(--primary-text-color);
    left: -1rem;
    height: 6rem;
    width: 2px;
  }
  
  .videos-page .videos-page-frames-container {  
    width: 100%;
    height: auto;
    margin-bottom: 10vh;
  }
  
  .videos-page-frames-container .videos-page-frame {
    display: flex;
    flex-direction: column;
    
    margin: 1rem 0;
    background-color: var(--menu-color);
  }

  .videos-page-frames-container .videos-page-frame header {
    cursor: default;
    font-family: 'Comfortaa', cursive;
    font-size: 4rem;
    color: var(--accent-color);
    line-height: 1.6;
    margin-left: 3rem;
  }

  .videos-page-frames-container .videos-page-frame ul {
    list-style-type: none;
  }

  .videos-page-frames-container .videos-page-frame li {
    cursor: pointer;
    position: relative;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    width: max-content;
    margin: 1rem 0;
    padding-left: 1rem;
    color: var(--primary-text-color);

    transition: 0.5s;
  }

  .videos-page-frames-container .videos-page-frame li:hover {
    text-decoration: underline;
    padding-left: 3rem;
  }

  .videos-page-frames-container .videos-page-frame li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 0.5rem;
    width: 0.5rem;
    border-top: solid var(--secondary-text-color) 2px;
    border-right: solid var(--secondary-text-color) 2px;
    transform: translateY(0.25rem) rotateZ(45deg);
  }
  
  .videos-page-frame iframe {
    height: 20rem;
    width: 40rem;
    margin: auto;
    object-fit: contain;
  }
  
  @media only screen and (max-width: 815px) {
    .videos-page .section-title::before {
      height: 4rem;
    }
  
    .videos-page-frames-container .videos-page-frame {
      width: 98%;
      margin: 1%;
    }

    .videos-page-frames-container .videos-page-frame header {
      font-size: 2rem;
      margin-left: 1rem;
    }

    .videos-page-frames-container .videos-page-frame ul {
      padding-left: 1rem;
    }

    .videos-page-frames-container .videos-page-frame li {
      font-size: 0.8rem;
      padding-left: 1rem;
      width: 80%;
    }

    .videos-page-frames-container .videos-page-frame li::before {
      height: 0.4rem;
      width: 0.4rem;
      transform: translateY(0.2rem) rotateZ(45deg);
    }
  
    .videos-page-frame iframe {
      height: 40vw;
      width: 80vw;
      object-fit: contain;
    }
  }
  
  @media only screen and (min-width: 1920px) {
    .videos-page-frames-container .videos-page-frame {
      margin: 1%;
    }
  }
  