.photos .section-title::before {
  content: "";
  position: absolute;
  justify-content: center;
  background-color: var(--primary-text-color);
  left: -1rem;
  height: 6rem;
  width: 2px;
}

.carousel {
  display: flex;
  flex: none;

  width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-img {
  position: relative;
  flex-shrink: 0;

  width: 270px;
  height: 480px;
  margin: 0 2rem;
  overflow: hidden;
  scroll-snap-align: center;
}

.carousel-img:first-child {
  margin-left: 50%;
}

.carousel-img:last-child {
  margin-right: 50%;
}

.carousel-img img {
  position: absolute;
  width: 470px;
  height: 100%;
  object-fit: cover;
}

.unselected {
  filter: grayscale(100%);
  transition: filter 1s;
}

.selected {
  filter: grayscale(0);
  transition: filter 2s;
}

.selected:hover .carousel-info-card {
  top: 0;
}

.carousel-info-card {
  cursor: default;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px) brightness(50%);
  z-index: 1;

  transition: 0.25s;
  transition-timing-function: ease-in;
}

.carousel-info-card button {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  height: 3rem;
  width: 9rem;
  margin: 2rem;
  padding: auto;
  color: var(--background-color);
  mix-blend-mode: screen;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  border: none;

  transition: background-color 0.5s;
}

.carousel-info-card button:hover {
  background-color: rgba(255, 255, 255, 0.9);;
}

.carousel-info-slider {
  position: relative;
  display: flex;

  margin: 0 auto;
  width: 100%;
  scroll-behavior: smooth;
  overflow: hidden;
}

.carousel-info-slider h2 {
  cursor: pointer;
  flex-shrink: 0;

  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: var(--hover-color);
  margin: 2rem 2rem;
  width: 10rem;

  transition: color 0.5s;
}

.carousel-info-slider h2:hover {
  color: var(--primary-text-color) !important;
}

.carousel-info-slider h2:first-child {
  margin-left: 50%;
}

.carousel-info-slider h2:last-child {
  margin-right: 50%;
}

@media only screen and (max-width: 815px) {
  .photos .section-title::before {
    height: 4rem;
  }

  .carousel-info-slider h2 {
    font-size: 1rem;
    width: 8rem;
    margin: 1rem 1rem;
  }
}
