.top-nav {
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

.top-nav img {
  cursor: pointer;
  height: 200px;
  width: auto;
  margin-left: 5%;
}

#home {
  position: absolute;
  right: 0;
  margin: 3rem 5% 2rem 2rem;
  text-decoration: none;
  color: var(--primary-text-color);
}

#mobileNavBtn {
  cursor: pointer;
  display: none;
  position: fixed;
  right: 0;
  margin: 2rem 5% 2rem 2rem;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--primary-text-color);
  transition: color 0.5s;

  z-index: 101;
}

.page-containar {
  position: relative;
}

.flex-container {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: 0 5%;
  width: 90%;
}

.section-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  margin: 0 5%;
}

.section-flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section-title {
  flex: 90%;

  cursor: default;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 100;
  color: var(--secondary-text-color);

  transition: color 0.5s;
}

@media only screen and (max-width: 815px) {
  .page-container #mobileNavBtn {
    display: block;
    position: sticky;
    top: 2rem;
    left: 100%;
  }

  .section-container {
    margin: 0 10%;
  }

  .section-flex-box {
    display: block;
  }

  .section-title {
    font-size: 3rem;
  }

  .top-nav #home {
    right: 10vh;
  }

  .top-nav #mobileNavBtn {
    display: block;
  }
}

@media only screen and (min-width: 1920px) {
  .top-nav {
    max-width: 1366px;
    margin: 0 auto;
  }

  .flex-container {
    max-width: 1366px;
    margin: 0 auto;
  }

  .section-container {
    max-width: 1366px;
    margin: 0 auto;
  }
}
