:root {
  --background-color: #181818;
  --menu-color: #212121;
  --hover-color: #3d3d3d;
  --primary-text-color: #ffffff;
  --secondary-text-color: #aaaaaa;
  --accent-color: #7df9ff;
  --danger-color: #ca0b00;
}

body {
  margin: 0;
  background-color: var(--background-color);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}
